name: Deploy Next.js application
##nambah branch
on:
  push:
    branches:
      - main
      - master
      - signup-login

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: buat file .env
        run: |
          echo "CLERK_SECRET_KEY=${{secrets.CLERK_SECRET_KEY}}" >> .env
          echo "NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${{secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}}" >> .env
          echo "NEXT_PUBLIC_CONVEX_URL=${{secrets.NEXT_PUBLIC_CONVEX_URL}}" >> .env
          echo "CONVEX_DEPLOYMENT=${{secrets.CONVEX_DEPLOYMENT}}" >> .env 
          echo "SITE_URL=${{secrets.SITE_URL}}" >> .env
      - name: buat docker image
        run: docker build -t shanealexander09/pso-chat-docker .
      - name: Login docker hub
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: publish image to docker hub
        run: docker push shanealexander09/pso-chat-docker:latest

    ##testing
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 20.9.0
      - name: Run tests
        run:
          npm test

          ##deploy dockerhub
  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image dockerhub
        run: docker pull shanealexander09/pso-chat-docker:latest
      - name: Delete old container
        run: docker rm -f pso-chat-container
      - name: run docker container
        run: docker run -d -p 3000:3000 --name pso-chat-container shanealexander09/pso-chat-docker
## docker udah connect ke aws ec2
